target/classes/genexus/App.class
target/classes/sqs/GxMessageContent.class
target/classes/sqs/GxQueue.class
target/classes/sqs/GxQueueMessage.class
target/classes/util/MyLogger.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/genexus.AppTest.txt
target/surefire-reports/TEST-genexus.AppTest.xml
target/test-classes/genexus/AppTest.class
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
